# Node.js
node_modules
package.json
package-lock.json

# SQLite
db.sqlite3
*.sqlite3

# Python and env
*.pyc
*.env
venv
.venv

# Docker
.dockerignore

# IDE
.idea
.ruff_cache

# Miscellaneous
*.spec
build
dist