# Node.js
node_modules/
package.json
package-lock.json

# SQLite
*.sqlite3

# Python
*.pyc
*.env
venv/
.venv/
.pytest_cache

# Docker
.dockerignore

# IDE
.idea/
.ruff_cache/

# Miscellaneous
*.spec
build/
dist/

# Project specific
temp/